.headerWrapper {
  font-family: "fira-light";
  font-size: 2.4rem;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  .brand {
    margin-left: 5rem;
    .typo {
      font-size: 2rem;
    }
  }
  .nav {
    @include justifyCenter;
    color: $bg-cream;
    a {
      text-decoration: none;
      color: inherit;
      p {
        margin: 0 1.5rem;
        text-transform: uppercase;
        transition: all 0.2s ease;

        // text-shadow: 1px 9px 12px rgba(255, 255, 255, 0.3);
        &:hover {
          color: $orange;
          transform: translateY(-0.25rem) scale(1.05);
          transition: all 0.2s ease;
        }
      }
    }
  }
}

@media screen and (max-width: $sm) {
  .typeWritter {
    font-size: 2rem;
    display: none;
  }
}

@media screen and (max-width: $md) {
  // Modifier header ici pour rapetisser la brand
}
