.leftMain {
  position: relative;
  background-color: $bg-cream;
  min-height: 100vh;

  .parent {
    width: 44rem;
    height: 44rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  .parent-resized {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
}

@media screen and (max-width: $xs) {
  .leftMain {
    .parent {
      display: none;
    }
    .parent-resized {
      display: block;
    }
  }
}
