$bg-dark: #343434;
$bg-cream: #fdf5e6;
$orange: #ff8c00;

// breakpoints
$xs: 575px;
$sm: 767px;
$md: 991px;
$lg: 1199px;
$xl: 1550px;

// Browser height
$heightbrowser: 25rem;

//font-size
$h1: 1rem;
$h2: 2rem;
$h3: 3rem;
$p: 1.6rem;
